[bumpversion]
current_version = 0.4.2
commit = True
tag = True

[bumpversion:file:descriptor.json]
search = {current_version}
replace = {new_version}

[bumpversion:file:README.md]
search = {current_version}
replace = {new_version}

[bumpversion:file:gradle.properties]
search = {current_version}
replace = {new_version}

